.directoryBox {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;


}
